<%- include('partials/header') %>
<% if (typeof notFound !=='undefined' ) { %>
  <div class="alert alert-danger" role="alert">
    <%= notFound %>
  </div>
  <% } %>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic">
          <img class="admin-shoe-img" src="static/images/login-shoe.png" alt="IMG">
        </div>

        <form action="/admin" class="login100-form admin-login-form" method="post">
          <span class="login100-form-title login-text">
            Admin Login
          </span>

          <div class="wrap-input100">
            <input class="input100" type="text" name="userName" placeholder="Username">
            <span class="error-span">&nbsp;</span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <div class="wrap-input100">
            <input class="input100" type="password" name="password" placeholder="Password">
            <span class="error-span">&nbsp;</span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>